<% if user_signed_in? %>
<%= simple_form_for @bike, :method => 'post', :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :input_html => { :class => "span3" } %>
  <%= f.input :description, :input_html => { :rows => "6", :class=>'span6' }, :as=>:text %>
  <div class="controls-group">
  <%= f.input :price, :wrapper => :prepend do %>
  <span class="add-on">€</span><%= f.input_field :price %>
<% end %>
</div>
  <%= f.submit "Go!", :class => "btn" %>
<% end %>

<% end %>
