<!DOCTYPE html>
<html>
<head>
	<title>BikeLovr</title>
	<%= stylesheet_link_tag    "application", :media =>
	"all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %></head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">BikeLovr</a>
			<ul class="nav">
				<% if user_signed_in? %>
						<li class="navbar-text pull-right">
							Hello <%= current_user.email %>
						</li>
					<li>
						<%= link_to "Sign out", destroy_user_session_path, :method=>:delete %>
					</li>
				<% else %>
				<li>
					<%= link_to "Sign in", new_user_session_path %>
				</li>
				<li>
					<%= link_to "Register", new_user_registration_path %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<%= yield %>
</body>
</html>